.grid {
  border-top: 3px solid #FF6B18;
  border-bottom: 1px solid #E5E5E5;
}
.faq-title, .contact-title {
  font-weight: bold;
  font-size: 20px;
}

.question {
  font-weight: bold;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.answer {
  max-height: 0;
  transition: max-height .2s;
  visibility: hidden;

  &.active {
    visibility: visible;
    max-height: 300px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;

  a {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    transition: .2s;

    &:hover {
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.55);
    }
  }

  img {
    width: 40px;
    height: 40px;
  }
}


/* Mobile styles
 *============================================================================*/

@media (max-width: 1200px) {
  .faq-wrapper, .contat-wrapper {
    padding: 10px;
    margin: 0;
  }
}

@media (max-width: 600px) {
  .question, .answer {
    font-size: 14px;
  }

  .social {
    flex-direction: column;

    a {
      margin-top: 1rem;
    }
  }
}
