<div class="footer p-y-m">
  <div class="grid jc-between ai-center p-a-s">
    <div class="flex ai-center fw-wrap">
      <div class="footer-logo">
        <a [routerLink]="['/']">
          <img src="assets/icons/logo.svg" alt="Logo">
        </a>
      </div>
      <a class="social-icon" href="https://instagram.com/ltcpowerrentals/" target="_blank">
        <img src="/assets/instagram.png" alt="Instagram" />
      </a>
      <a class="social-icon" href="https://wa.me/message/NCOXUPXF2RTSP1" target="_blank">
        <img src="/assets/whatsapp.png" alt="WhatsApp">
      </a>
      <p class="m-l-s date">© {{year}} LTC Power Rentals. All rights reserved.</p>
    </div>
    <div class="footer-links">
        <a *ngFor="let footerLink of pages; last as last" [class.m-r-s]="!last"  [routerLink]="footerLink.id" >{{footerLink.title}}</a>
    </div>
  </div>
</div>
